<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Upload Person with Json</title>
</head>
<body>
<h2>Upload Person with JSON</h2>
<div th:if="${message}">
	<h2 th:text="${message}"/>
</div>

<div>
	<form method="POST" enctype="multipart/form-data" action="/person/create/json">
		<table>
			<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
			<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
		</table>
	</form>
</div>

<div>
	<ul>
		<li th:each="file : ${files}">
			<a th:href="${file}" th:text="${file}" />
		</li>
	</ul>
</div>

<div th:if="${output}">
	<h1>Output:</h1>
	<p th:utext="${output}"></p>
</div>
</body>
</html>
