<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Search with XML</title>
</head>
<body>
<h1>Get Only One Commentary by ID via Velocity Template</h1>
<p>Example for a search id attack: 5 or 1 = 1</p>
<form method="post" th:action="@{/commentary/template}">
	<p>Search ID: <input type="text" th:name="id"/></p>
	<div class="clearfix">
		<button type="submit">Search</button>
	</div>
</form>



<h1>One Commentary Output</h1>
<table>
	<tr>
		<th>ID</th>
		<th>Text</th>
	</tr>
	<tr th:each="item : ${output}">
		<td th:text="${item.id}"></td>
		<td th:text="${item.text}"></td>
	</tr>
</table>

<br>
<br>
<form th:action="@{/hello}" method="get">
	<input type="submit" value="Back to hello"/>
</form>
</body>
</html>
